* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0rem;
    left: 0rem;
    background-color: aquamarine;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 2rem;
}

header {
    background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    height: 50vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: cover;
}

.skills {
    min-height: 70vh;
}

.section-title {
    text-align: center;
}

.row {
    min-height: 50vh;
    gap: 2rem;
}

.card {
    background-color: beige;
    width: 25%;
}

.tutorials {
    min-height: 60vh;
    gap: 1rem;
}

.tutorial {
    background-color: orange;
    height: 20vh;
    width: 30%;
}


/* team memeber starts */

.team-section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

.team-member {
    background-color: orange;
    padding: 1rem;
}

#team-member2 {
    background-color: green;
    color: aliceblue;
    /* grid-column: 2 / 4; */
}
/* team memeber ends */

/* responsiveness starts here  */
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 768px) {
    .team-members {
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (max-width: 600px) {
    header {
        display: none;
    }
    
    .skills {
        padding: 2rem;
    }
    .row {
        flex-direction: column;
    }
    .row .card {
        width: 80%;
    }
    .tutorials {
        flex-direction: column;
    }
    .tutorials .tutorial {
        width: 75%;
    }
}
/* responsiveness ends here  */
