* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0rem;
    left: 0rem;
    background-color: aquamarine;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 2rem;
}

header {
    background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    height: 50vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: cover;
}

.skills {
    background-color: bisque;
    height: 70vh;
}

.section-title {
    text-align: center;
}

.row {
    background-color: aqua;
    height: 50vh;
    gap: 2rem;
}

.card {
    background-color: beige;
    width: 25%;
}

.tutorials {
    height: 80vh;
    background-color: azure;
    gap: 1rem;
}

.tutorial {
    background-color: orange;
    height: 20vh;
    width: 30%;
}




