/* reset code and common starts here  */

/* varibles */
:root {
    --transition: all 0.3s;
    --scale: scale(1.05);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}

html {
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #fff;
    width: 100rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0.1rem 0.1rem #c4c4c4;
}

.text-justify {
    text-align: justify;
}

.text-white {
    color: white
}

.btn {
    background-color: #eb8634;
    border: none;
    padding: 1rem 0;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    letter-spacing: 0.1rem;
}

.section-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.section-heading {
    font-size: 6rem;
    font-family: 'Lucida Console', monospace;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* reset code and common ends here  */

/* header styling starts here  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 10vh;
}

.logo-figure {
    border: 1px solid #fff;
}

.logo {
    font-size: 4rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    padding: 1rem;
    transition: var(--transition);
    border-radius: 0.5rem;
}
nav ul li:hover {
    background-color: violet;
}

.nav__link {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}
/* header styling ends here  */

/* banner section starts here */
.banner {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.banner article {
    flex-basis: 50%;
    margin: 1rem;
}
.banner__heading {
    display: inline-block;
    padding: 1rem;
    background-color: black;
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 4rem;
}
.banner__desc {
    font-size: 1.5rem;
}
.banner aside {
    flex-basis: 50%;
    text-align: center;
}

.banner-img {
    height: 28rem;
    width: 40rem;
}
/* banner section starts here */

/* about me section starts here */
#blog-about {
    background-color: #979797;
}

.cards {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card {
    flex: 1;
    border-radius: 0.6rem;
    background-color: rgb(239, 239, 239);
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition: var(--transition);
}

.card:hover {
    transform: var(--scale);
}

.card__header {
    font-size: 3rem;
}

.card__desc {
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.card__btn {
    width: 80%;
}
/* about me section ends here */

/* archive section starts here */
.archives-container {
    padding: 2rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
}

.archives__lists {
    display: flex;
    text-align: center;
    gap: 2rem;
}

.archives__img {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: var(--transition);
}
.archives__img:hover {
    transform: var(--scale);
}
/* archive section ends here */

/* blog post section starts here */
.blog-post {
    width: 70%;
    display: flex;
    margin: 2rem 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0.1rem 0.1rem #c4c4c4;
    transition: var(--transition);
    /* border-radius: 1rem; */
}
.blog-post:hover {
    transform: var(--scale);
}
.blog-post__aside {
    flex: 1;
}
.blog-post__aside img {
    height: 100%;
}
.blog-post__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 1rem;
    gap: 1rem;
}
.blog-post__heading {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.blog-post__sub-heading {
    font-size: 2rem;
}
.blog-post__description {
    font-size: 1.6rem;
    text-align: justify;
}
.blog-post__btn {
    width: 50%;
}
/* blog post section ends here */

/* responsiveness starts here */
@media screen and (max-width: 992px) {
    .banner {
        flex-direction: column;
    }
    .banner article {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    .banner-img {
        width: 60%;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 55.5%;
    }
    .banner article {
        width: 80%;
    }
    .banner-img {
        width: 80%;
    }
    .cards {
        flex-direction: column;
        width: 70%;
    }
    .section-heading {
        margin: 4rem 0;
    }
    #archives {
        min-height: auto;
    }
    .blog-post {
        width: 80%;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 48.5%;
    }
    header {
        flex-direction: column;
    }
    .logo-figure {
        margin: 2rem 0;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
    .banner {
        min-height: auto;
    }
    .banner-img {
        width: 80%;
    }
    .archives__lists {
        flex-wrap: wrap;
    }
    .archives__list {
        padding: 0rem 8rem;
    }
    .blog-post {
        width: 90%;
    }
}
/* responsiveness ends here */